/*===================================*/
// FixedSlider STYLE
// ロゴエリアコンポーネントのスタイル
/*===================================*/
@use "../../styles/_var.module";

.fixed-slider {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  &__nav {
    display: flex;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    flex-direction: column;
    row-gap: 29px;
    button {
      position: absolute;
      right: 120px;
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: var.$c-base;
      opacity: 0.3;
      transition: transform 400ms var.$easeOutCirc,
        opacity 400ms var.$easeOutCirc;
      &.selected {
        transform: scale(1.5);
        opacity: 1;
      }
      &:nth-of-type(1) {
        top: -29px;
      }
      &:nth-of-type(2) {
        top: 0px;
      }
      &:nth-of-type(3) {
        top: 29px;
      }
    }
  }
}

@media (max-width: #{var.$breakpoint}px) {
  .pzl-font-grid {
    &__nav {
      button {
        right: 20px;
      }
    }
  }
}

@media (min-width: #{var.$breakpoint-pc + 1}px) {
  .fixed-slider {
    &__nav {
      button {
        &:hover {
          transform: scale(1.5);
        }
      }
    }
  }
}
