/*===================================*/
// RoleFirst STYLE
// 固定スクロールアニメーションのアニメーションコンポーネント01のスタイル
/*===================================*/
@use "../../../styles/var.module";

.formula-car {
  position: relative;
  width: 100%;
  height: 100%;
  &--content {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
